  <%- include('headers') %> 
    <section class="section-1 d-flex justify-content-center align-items-center">
        <div class="container text-center d-flex justify-content-center align-items-center flex-column">
            <h1 class="section-1-h1">Xush kelibsiz mehmon</h1>
            <a class="btn btn-primary mt-2" href="/login">Login</a>
            <a class="btn btn-primary mt-2" href="/signup">Sign Up</a>
        </div>
    </section>
    
    <%- include('footer') %> 